* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #0e1117;

}

h1 {
	font-weight: bold;
	font-size: 40px;
}

select {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 8px;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #1f2937;
	border-radius: 8px;
	background: #1f2937;
	color: #ccc;
}

.CodeMirror {
	font-size: 13px;
}

.github-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 9999;
  }

  .github-icon img {
	filter: invert(100%);
  }

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;

}

.sub-container {
	display: flex;
	flex-wrap: wrap;
}

.title {
	margin: 0 auto;
	text-align: center;
	color: #ccc;
}

#input,
#output {
	color: #ccc;
	text-align: center;
}

#btn-translate {
	padding: 8px 16px;
	border-radius: 5px;
	background-color: #8b5cf6;
	border: 1px solid #8b5cf6;
	color: #ececec;
	cursor: pointer;
	
	font-size: 15px;
}

#btn-input-copy,
#btn-output-copy {
	position: absolute;
	padding: 5px 5px;

	background-color: #282a36;
	border: 1px solid #282a36;
	color: #ffffff;
	cursor: pointer;
	z-index: 100;
}


.left-section,
.right-section {
	flex: 1;
	padding: 10px;
	position: relative;
	width: 50%;
}


.left-section label,
.right-section label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

.right-section #output-code {
	background-color: #000000;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.box {
	flex-basis: 23%;
	height: 100px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;

	margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
	.container {
		flex-direction: column;
	}

	.left-section,
	.right-section {
		flex-basis: 100%;
	}

	.left-section select,
	.right-section select,
	.left-section textarea,
	.right-section textarea {
		font-size: 14px;
	}

	.box {
		flex-basis: 100%;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	height: 35px;
	background-color: #8b5cf6;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
	display: flex; /* Added */
	justify-content: center; /* Added */
	align-items: center; /* Added */
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #8b5cf6 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }