body {
    background-color: #202123;
    padding: 1%;
  }
  
  .root-div {
    margin-top: 10vh;
  }
  
  .github-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .github-icon:hover {
    transform: scale(1.05);
  }
  
  
  .github-icon img {
    filter: invert(100%);
  }
  
  /* Style for the boxes */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 360px;
  }
  
  .box {
    background-color: #343541;
    width: 240px;
    height: 160px;
    margin: 8px;
    text-align: left;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    color: #ccc;
    
  }
  
  .box p {
    text-align: left;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .box:hover {
    transform: scale(1.05);
  }
  
  /* Responsive design */
  @media only screen and (max-width: 600px) {
  
  
    p {
      font-size: 15px !important;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .container {
      flex-direction: column;
      height: auto;
    }
  
    .box {
      width: 200px;
      height: 130px;
    }
  
  }
  
  /* Style for the heading and subheading */
  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 32px;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    font-weight: blod;
    color: #ccc;
  }
  
  a {
    text-decoration: none;
  }
  